[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wayoflife
[access "refs/for/refs/*"]
	read = group user/wayoflife
	push = group user/wayoflife
	label-Code-Review = -2..+2 group user/wayoflife
	label-Verified = -1..+1 group user/wayoflife
	rebase = group user/wayoflife
	removeReviewer = group user/wayoflife
	submit = group user/wayoflife
[access "refs/heads/*"]
	read = group user/wayoflife
	create = group user/wayoflife
	push = +force group user/wayoflife
	pushMerge = group user/wayoflife
[access "refs/tags/*"]
	push = +force group user/wayoflife
	pushTag = group user/wayoflife
	pushSignedTag = group user/wayoflife
